.svg-icon-article15 {
	width: 71px;
	height: 102px;
}

.svg-icon-article21 {
	width: 56px;
	height: 104px;
}

.svg-icon-article3 {
	width: 76px;
	height: 99px;
}

.svg-icon-article4 {
	width: 56px;
	height: 104px;
}

.svg-icon-facebook {
	width: 10px;
	height: 17px;
}

