//container variables
:root {
  --side-padding: 40px; // container padding left/right
  --top-distance: 160px; // sections margin-top
  --gutter: 40px;
}


//fonts
$roboto: 'Roboto', sans-serif;


//colors
$colorBlack: #404040;


//variables for grid mixins
$cols: 12 !default; // дефолтное кол-во колонок
$gutter: #{var(--gutter)} !default; // отступ между колонками - подставляем переменную из :root


//easings
// $switchEasing: cubic-bezier(.86,0,.07,1);
//$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
//$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
//$easeInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
