@import '../base/config';
@import '../base/mixins';

.form {
  .form-group {
    position: relative;
    width: 100%;
    display: block;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    &.invalid {}

    &.message-group {
      textarea {
        @include invisibleScrollbar;
      }
    }

    .input {
      &.invalid {}
    }

    .textarea {
      resize: none;
    }
  }
}
